$border: solid 1px rgb(214, 223, 230);
.RedMark {
  color: red;
}

.GreenMark {
  color: Green;
}

.Box {
  background-color: white;
  padding: 10px 10px;
  border: $border;
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.BoxCenter {
  background-color: white;
  text-align: center;
  border: $border;
}
