
$border: solid 1px rgb(214, 223, 230)fh;
.RedMark {
    color: red;
}

.GreenMark {
    color: Green;
}

.Box {
    background-color: white;
    padding: 10px 10px;
    border: $border;
}

.BoxCenter {
    background-color: white;
    text-align: center;
    border: $border;
}