.RedMark {
    color: red;
}

.GreenMark {
    color: Green;
}

.Box {
    background-color: white;
    border-radius: 4px;
    padding: 10px 10px;
}

.BoxCenter {
    background-color: white;
    border-radius: 4px;
    text-align: center;
}