.Box {
    // border-radius: 4px;
    padding: 10px 10px;
}

.SharedIcon {
    display: flex;
    padding-top: 25px;
    justify-content: center;
}
.formElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: left;

    .submitButton{
        margin-top: 40px;
    }    
    .informationButton{
        margin-top: 15px;
    }
}

.inputElement, .fieldsetElement{
    margin-top: 5px;
    margin-bottom: 15px;
}

.fieldsetElement{
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 20px;
    legend {
        font-weight: 500;
    }
    label{
        margin-right: 10px;
    }
}

.inputElement{
    display: grid;
    grid-template-columns: 1fr auto;

    gap: 20px;

    align-items: flex-start;

    &:focus-within{
        label{
            color: var(--text-color);
        }

        input,select{
            outline-color: var(--text-color);
        }
    }

    label,input,select{
        display: inline-block;
        &::placeholder{
            color: var(--gray-light-color);
            font-style: italic;
        }
    }
    input,select{
        padding: 5px 10px;
        width: 200px;
    }
    label{
        font-weight: 500;
        max-width: 300px;
    }
}

.Details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldsetElement {
    display: block;
}

.informationPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    line-height: 130%;

    p{
        width: 100%;
    }
    p,li,ul{
        margin: .5rem 0;
    }

}


@media screen and (max-width: 640px) {
    .inputElement{
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;

        input, select{
            width: auto;
            min-width: 200px;
            margin: 0 auto;
        }
    }

    .formElement{
        .informationButton{
            text-align: center;
        }
    }
}

@media screen and (min-width: 640px) and  (max-width: 1080px) {

    
}

@media screen and (min-width: 1080px) {
    .inputElement{
        label{
            width: 300px;
        }
    }
    
}