html,
body {
  height: 100%;
  width: 100%;
  padding: 0em;
  margin: 0em;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f7;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
}



header {
  background-color: var(--bg-color);
  padding: 1em;
  color:var(--title-color);
}

article {
  padding: 1em;
}



table {
  border-spacing: 5px;
}

.cell {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

th {
  background-color: #d4dce6;
  font-weight: unset;
  padding: 0.2em 0.5em;
  text-align: center;
}

td.age {
  font-size: 120%;
  text-align: center;
}

td div {
  background-color: white;
  vertical-align: center;
}

td img {
  height: 1.5em;
  margin: 0.3em;
}

.worst {
  color: #e05a47;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
