html,
body {
  padding: 0em;
  margin: 0em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9f9f7;
}

header {
  background-color: #FFB3B7;
  padding: 1em;
  color:#505D75; /*#6B81A0;*/
}

article {
  padding: 1em;
}

header h1 {
  margin: 0;
}

table {
  border-spacing: 5px;
}

.cell {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

th {
  background-color: #d4dce6;
  font-weight: unset;
  padding: 0.2em 0.5em;
  text-align: center;
}

td.age {
  font-size: 120%;
  text-align: center;
}

td div {
  background-color: white;
  vertical-align: center;
}

td img {
  height: 1.5em;
  margin: 0.3em;
}

.worst {
  color: #e05a47;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
