.title{
  font-size: 2.6rem;
  position: relative;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  z-index: 1;
  padding: 0 10px;
  color: var(--gray-dark-color);

  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    background-color: white;
    width: 100%;
    height: 22px;
    z-index: -1;
  }
}
.subtitle{
  color: var(--gray-dark-color);
  font-weight: 500;
  margin: 0;
  margin-top: .5rem;

}

.blockButton{
  border: none;
  font: inherit;
  cursor: pointer;

  margin: 20px 0 10px 0;
  padding: 10px 15px;
  background-color: var(--gray-dark-color);
  color: white;
  font-weight: 500;

  transition: background-color .3s;

  &:focus,&:hover{
  background-color: var(--gray-light-color);
  }
}
.inlineButton{
  border: none;
  font: inherit;
  cursor: pointer;
  margin: 10px 0;
  text-align: left;
  background-color: transparent;
  
  display: inline-block;
  padding: 5px;
  color: var(--gray-light-color);
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .title{
    font-size: 1.5rem;
    &::after{
      height: 15px;

    }
  }
}